<!doctype html>
<html lang="pt-BR">
  <head>
    <title>Área administrativa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="css/custom-bs.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="fonts/line-icons/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/quill.snow.css">
    
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">    
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  
<div class="site-wrap">
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
  <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->
    
<!-- NAVBAR -->
<header class="site-navbar mt-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="site-logo col-6"><a href="/">maxforce</a></div>
      <div class="right-cta-menu text-right d-flex aligin-items-center col-9">
        <div class="ml-auto">
          <nav>
            <a href="/notificacoes" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class=""></span>Notificações</a>
            <a href="/nova-modalidade" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class=""></span>+ Modalidade</a>
            <a href="/novo-exercicio" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class=""></span>+ Exercícios</a>
            <a href="/adm2" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class=""></span>Administrador</a>            
            <a href="/newuser" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class=""></span>+ Usuário</a>
            <a href="/searchClient" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class=""></span>Procurar Usuário</a>
            <a href="/admDeslog" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block">Deslogar</a>
          </nav>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>
      <nav class="mx-auto site-navigation">
          <li class="d-lg-none"><a href="/login">Login</a></li>
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>
</header>


    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Área administrativa</h1>
            <div class="custom-breadcrumbs">
              <a href="/">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Área administrativa</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row">
          
          </div>
        </div>
      </div>
    </section>
    <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Contatos do desenvolvedor</h3>
            <ul class="list-unstyled">
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Instagran</a></li>
              <li><a href="#">E-Mail</a></li>
            </ul>
          </div>
          
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Visite nossas redes sociais</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
            WebSite desnvolvido por Thalles Vicete Rabelo
          </div>
        </div>
      </div>
    </footer>
  </div>

    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/stickyfill.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/quill.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="/js/jquery.mask.min.js"></script>
    <script>
      $(".phone").mask("(00) 000000000");
    </script>
    <script>
      $(".cpf").mask("000.000.000-00");
    </script>
    <script>
      $(".cep").mask("00000-000")
    </script>
  </body>
</html>

<script>
  function confDel(event, form){
    event.preventDefault();
    var conff = confirm("Deseja excluir o usuário?");
    if(conff){
      form.submit();
    }
  }
</script>