<footer class="site-footer" id="next">
  <a href="#top" class="smoothscroll scroll-top">
    <span class="icon-keyboard_arrow_up"></span>
  </a>

  <div class="container footer-container">
    <div class="row mb-3 mt-3 footer-wrapper">
      <div class="col-6 col-sm-12 col-md-3 mb-4 mb-md-0">
        <h3>Contato</h3>
        <ul class="list-unstyled">
          <li><a href="#">Rua ABC, 13 de julho, Aracaju -SE</a></li>
          <li><a href="tel:010-020-0340">(79) 999999999</a></li>
          <li>
            <a href="mailto:maxforce@gmail.com">suportemax@gmail.com</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-sm-12 col-md-3 mb-4 mb-md-0">
        <h3>Acesso rápido</h3>
        <ul class="list-unstyled">
          <li><a href="#">Login</a></li>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Meu perfil</a></li>
        </ul>
      </div>

      <div class="col-6 col-sm-12 col-md-3 mb-4 mb-md-0">
        <h3>Visite nossas redes sociais</h3>
        <div class="footer-social">
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-youtube"></span></a>
          <a href="#"><span class="icon-instagram"></span></a>
        </div>
      </div>
    </div>

    <div class="row text-center mt-4">
      <div class="col-12">
        <p class="copyright text-muted">cybertech © 2019</p>
      </div>
    </div>
  </div>
</footer>
